	/************Android************/
snippet a.w
	android.widget.${1};
snippet YB
	/*YUNOS BEGIN*/
	//## modules(Settings):
	//## date:`strftime("%Y/%m/%d")` ##author:fengjian.fj
	//## BugID:95999:add system settings backup items for yunos
snippet YE
	/*YUNOS END*/
