	/*************** Android ***************/
snippet above
	android:layout_above="@id/${1}"
snippet below
	android:layout_below="@id/${1}"
snippet toleft
	android:layout_toLeftOf="@id/${1}"
snippet toright
	android:layout_toRightOf="@id/${1}"
snippet cH
	android:layout_centerHorizontal="true"
snippet cV
	android:layout_centerVertical="true"
snippet cIP
	android:layout_centerInParent="true"
